* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  background-color: rgb(245 245 245 / 30%);
}

.app {
  width: 65%;
  margin: 0 auto;
}

.gen-title {
  padding-top: 30px;
  text-align: center;
}

.box-totals {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.totals-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 35px;
  font-size: 20px;
  background-color: #bbbbfd;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.box-totals span + span {
  margin-left: 40px;
}

.total-active {
  background-color: #2525ab;
}

.form-data {
  width: 70%;
  margin: 25px auto 0 auto;
}

.form-data h3 {
  text-align: center;
  font-size: 25px;
}

.box-input {
  margin-top: 15px;
}

.box-input input,
.box-textarea textarea {
  width: 100%;
  padding: 10px 25px;
  font-size: 18px;
  border: 1px solid #2094d5;
  border-radius: 5px;
}

.box-textarea textarea {
  min-height: 50px;
}

.box-textarea {
  margin-top: 20px;
}

.btn-add {
  float: right;
  margin-top: 15px;
  padding: 10px 30px;
  background-color: #2525ab;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.line {
  width: 50%;
  height: 1px;
  margin: 100px auto 0 auto;
  background-color: black;
}

.box-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 25px auto;
  padding: 15px 20px 15px 20px;
  background-color: #fff;
  border: 1px solid #5c20d5;
  border-radius: 8px;
}

.completed {
  background-color: rgb(124 124 124 / 13%);
  text-decoration: line-through;
  color: rgb(0 0 0 / 42%);
}

.box-todo .box-input {
  margin-top: 0;
}

.box-todo input {
  padding: 0;
  font-size: 16px;
  color: rgb(0 0 0 / 47%);
  border: none;
  border-bottom: 1px solid #2094d5;
  border-radius: 0;
}

.actions button {
  background: none;
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.actions button + button {
  margin-left: 12px;
}

.btn-delete {
  color: red;
}

.btn-patch {
  color: #b58e00;
}

.btn-comped {
  color: green;
}