* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 65%;
  margin: 0 auto;
}

.gen-title {
  padding-top: 30px;
  text-align: center;
}

.box-totals {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.box-totals span {
  font-size: 20px;
  cursor: pointer;
}

.box-totals span + span {
  margin-left: 40px;
}

.form-data {
  width: 70%;
  margin: 25px auto 0 auto;
}

.form-data h3 {
  text-align: center;
  font-size: 25px;
}

.box-input {
  margin-top: 15px;
}

.box-input input,
.box-textarea textarea {
  width: 100%;
  border-radius: 5px;
}

.box-input input {
  height: 30px;
}

.box-textarea textarea {
  height: 40px;
}

.box-textarea {
  margin-top: 20px;
}

.btn-add {
  float: right;
  margin-top: 15px;
  cursor: pointer;
}

.line {
  width: 50%;
  height: 1px;
  margin: 70px auto 0 auto;
  background-color: black;
}

.box-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 25px auto;
  padding: 15px 20px 15px 20px;
  border: 1px solid #000;
  border-radius: 8px;
  transition: 0.3s;
}

.actions button + button {
  margin-left: 8px;
}

.completed {
  background-color: rgb(124 124 124 / 13%);
  text-decoration: line-through;
  color: rgb(0 0 0 / 42%);
}

.btn-comped {
  color: green;
}